
body {
    background-color: lightblue; 
    font-family: sans-serif; 
    text-align: center;
    position: relative;
}

p {padding: 5px ;}


table, th, td {
    text-align: center; 
    border: 1px solid black; 
    margin: auto;
background-color: rgb(213, 227, 236);}


footer {
    color: white; 
    background-color: black;
    padding: 5px; 
    font-size: 12px;
    }
