
body {
    background-color: lightblue; 
    font-family: sans-serif; 
    text-align: center;}

header {margin-top: 20px; padding: 10px;}
nav {
    background-color: rgba(238, 237, 237, 0.555);}


li {
    list-style: none; 
    padding: 5px; 
    font: bold; 
    display: inline-block; 
    border: 1px solid black; 
    margin: 10px;}

p {padding: 5px 90px;}


table, th, td {
    text-align: center; 
    border: 1px solid black; 
    margin: auto;}


footer {
    color: white; 
    background-color: black;
    padding: 5px; 
    font-size: 12px;
    margin: 20px;}
